body {
    margin: 0;
}

#root {
    display: grid;
    grid-template-columns: 1fr 5fr;
    height: 100vh;
    margin: 0;
}

nav {
    background-color: #d9d9d9;
    padding: 10px;
}

.dashboard, .production {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}

.container {
    padding: 10px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
    background: -webkit-linear-gradient(#CF581D, #E4AD2E);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.right-header {
    display: flex;
    align-items: center;
    gap: 1rem;
}

input {
    margin: 0 0.5rem;
}

.mode {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.kpi-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    margin: 2rem 0;
}

.kpi {
    background-color: #d9d9d9;
    text-align: center;
    border-radius: 12px;
    box-shadow: 2px 2px 4px 2px #CF581D;
}

.kpi p{
    font-size: 1.2rem;
}

.kpi h1 {
    font-size: 3rem;
    margin-top: 1rem;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}